// Colors  Variables For Grid
$purple: #927bc1;
$orange: #fd7856;
$purple-light: #deb2ee;
$blue-light: #7ee6fd;
$blue-sky: #4da2bb;
$blue-green: #51ddfc;
$green: #88d9a0;
$green-emerald: #63cc82;
$pink: #ec9fa3;
$pink-red: #e4757a;
$nude: #fd9f85;
$turquoise: #80e8d1;

// Colors  Variables For Buttons
$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;
$white: #fff;

// Colors  Variables For Typography
$primary: #58e1c1;
$secondary: #777;
$link: #51ddfc;

// Colors  Variables For Images
$img-border: #ccc;

// Colors  Variables For Nav
$nav-link: #58e1c1;

$font: 'Lato', sans-serif;

//Media Query Variable
$tblt: 768px;

